.Side-bar
  .Side-bar__user-name
    .Side-bar__items
      .Side-bar__name koki
      %ul.Side-bar__icons 
        %li.Side-bar__icons-list <i class='fas fa-edit'></i>
        %li.Side-bar__icons-list <i class='fa fa-cog'></i>
  .Side-bar__group-list
    .group
      .group__name あ
      .group__message いい
