.Side-bar
  .Side-bar__user-name
    .Side-bar__items
      .Side-bar__name koki
      %ul.Side-bar__icons 
        %li.Side-bar__icons-list
        %i.fas.fa-edit
        %li.Side-bar__icons-list
        %i.fa.fa-cog
  .Side-bar__group-list
    .group
      .group__name あ
      .group__message いい
